# LLM
ANTHROPIC_API_KEY=your_key_here

# Database
POSTGRES_HOST=db
POSTGRES_PORT=5432
POSTGRES_DB=mega
POSTGRES_USER=mega_user
POSTGRES_PASSWORD=your_password_here

# Worker
REDIS_URL=redis://redis:6379/0

# App
API_HOST=0.0.0.0
API_PORT=8000

PGADMIN_EMAIL=admin@mega.ai
PGADMIN_PASSWORD=your_pgadmin_password
PGADMIN_PORT=5050